
.vs/LordOfRims - Toolkit Extension/v15/.suo
.vs/LordOfRims - Toolkit Extension/v15/Server/sqlite3/db.lock
.vs/LordOfRims - Toolkit Extension/v15/Server/sqlite3/storage.ide
.vs/LordOfRims - Toolkit Extension/v15/Server/sqlite3/storage.ide-shm
.vs/LordOfRims - Toolkit Extension/v15/Server/sqlite3/storage.ide-wal
